<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>home</title>
        {% endif %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('index') }}">Project Committee Assistance</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto my-2 my-lg-0 ">
                  {% block navelem %}{% endblock %}
                  <!-- <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                  </li> -->
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Material
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="https://drive.google.com/file/d/1VbPR2pOq-kX2ksjfr5dyKAea0V6CmqQD/view?usp=share_link" target="_blank">Project handbook</a></li>
                      <li><a class="dropdown-item" href="#">Capstone example 1</a></li>
                      <li><a class="dropdown-item" href="#">Capstone example 2</a></li>
                      <li><a class="dropdown-item" href="#">Capstone example 3</a></li>
                    </ul>
                  </li>
                  {% if current_user.is_anonymous %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('loginChoice') }}" >Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('registerChoice') }}" >Register</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}" >Logout</a>
                  </li>
                <a href= class="right">Login</a>
                {% endif %}
                </span>
                </ul>
                
              </div>
            </div>
          </nav>

        
          {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
              <div class="alert alert-primary" role="alert" style="text-align: center;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float: right;"></button>
              </div>
              {% endfor %}
         
          {% endif %}
          {% endwith %}
          
        </div>
        
        {% block content %}{% endblock %}
    </body>
</html>