{% extends "base.html" %}

{% block content %}
<h1 class="d-flex aligns-items-center justify-content-center header">Proposal</h1>
<br>
<br>

<div class="text-center">
    <div>
        {% for proposal in proposals %}
          <divs>
              <div>
                   <div>
                       <span style="font-size: 25px; margin-right: 15px;">{{ proposal.title }}</span>
                        <!-- {% if proposal.poster_id == current_user.id %} -->
                        <a href="{{ url_for('deleteProposal', id=proposal.id)}}" class="btn btn-outline-danger btn-sm" style="margin-bottom: 10px ;">Delete</a>
                        <!-- {% endif %} --> 
                   </div>
               </div>
          </div>
          
        {% endfor %}<br>

        <a href="{{ url_for('addProposal')}}" class="btn btn-primary" style="font-size: 30 ;">Add</a>
    </div>
    

</div>
{% endblock %}